*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins",sans-serif;
}

body{
    width: 100%;
    height: auto;
    background-color: #5222d0;
    background-image: linear-gradient(45deg,#5222d0 0%, #ec615b 100%);
}

.header{
    margin-top: 1rem;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
}

.pricing{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
}

.card-image{
    width: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #5222d0;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 5px 14px rgba(0,0,0,0.25) ,0 5px 5px rgba(0,0,0,0.22);
    padding: 2rem;
    margin: 1rem;
    transition: all 0.2s ease-in;
    border: #5222d0 solid 2px;
}

.card-header{
    width: 100%;
    margin: 1rem;
    text-align: center;
}

.card-header > h3 {
    color: #5222d0;
    letter-spacing: 1;
    padding-top: 1rem;
}

.card-detail{
    width: 100%;
}

.card-detail > p{
    padding:0.5rem;
    font-size: 1rem;

}

.check{
    color:#5222d0;

}

.card-price{
    display: flex;
    align-items: flex-start;
    margin: 1rem;
    
}

.card-price > p {
    font-size: 4rem;
    font-weight: 800;
    color:#5222d0 ;
}

.card-price> p > sup{
    font-size: 2rem;
    color: #5222d0;
}

.special{
    padding-left:2rem !important;
}